@font-face {
    font-family: PP Editorial New;
    src: url(../typography/PPEditorialNew-Ultralight.woff2) format('woff2');
    font-weight: 200;
    font-style: light;
    font-display: swap;
}

@font-face {
    font-family: Roboto Mono;
    src: url(../typography/RobotoMono-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html{
    --background-color-light: #F9F9F9;
    --box-color-light: #FFFFFF;
    --stroke-color-light: #E5E7EA;
    --primary-color-light: #222222;
    --secondary-color-light: #838387;
    --highlight-color-light: #2DABFF;

    --background-color-dark: #222222;
    --box-color-dark: #333333;
    --stroke-color-dark: #484747;
    --primary-color-dark: #EDEDED;
    --secondary-color-dark: #BBBBBB;
    --highlight-color-dark: #BBBBBB;
}

* {
    box-sizing: border-box;
   }

body {
    background-color: var(--background-color-light);
}

h1{
    font-family: PP Editorial New, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 2rem;
    line-height: 41px;
    color: var(--primary-color-light);
}

h2{
    font-family: PP Editorial New, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 1.5rem;
    line-height: 31px;
    color: var(--primary-color-light);
    /* add margin: phil usually puts margin at the top */
    /* add padding (like left and right) */
}

h3{
    font-family: PP Editorial New, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 1.25rem;
    color: var(--primary-color-light);
}

h4{
    font-family: Roboto Mono, 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 1rem;
    line-height: 20px;
    color: var(--secondary-color-light);
}

h5{
    font-family: Roboto Mono, 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: .875rem;
    line-height: 20px;
    color: var(--primary-color-light);
}

p{
    font-family: Roboto Mono, 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: .8125rem;
    line-height: 20px;
    color: var(--primary-color-light);
}

hr{
    border-top: 1px solid var(--stroke-color-light);
}

nav {
    padding: 0;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

nav ul li{
    font-family: PP Editorial New, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 2rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
}

nav a, a.nav {
    color: var(--primary-color-light);
    text-decoration: none
}

.logo{
    width: 43px;
    height: 46px;
}

img.img {
    height: auto;
    width: 341px;
}