@font-face {
    font-family: PP Editorial New;
    src: url(../typography/PPEditorialNew-Ultralight.woff2) format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto Mono;
    src: url(../typography/RobotoMono-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html{
    --background-color-light: #F9F9F9;
    --box-color-light: #FFFFFF;
    --stroke-color-light: #E5E7EA;
    --primary-color-light: #222222;
    --secondary-color-light: #838387;
    --highlight-color-light: #2DABFF;

    --background-color-dark: #222222;
    --box-color-dark: #333333;
    --stroke-color-dark: #484747;
    --primary-color-dark: #EDEDED;
    --secondary-color-dark: #BBBBBB;
    --highlight-color-dark: #BBBBBB;
}

* {
    box-sizing: border-box;
   }

body {
    background-color: var(--background-color-light);
}

.content-wrapper {
    margin-inline: auto;
}

h1{
    font-family: PP Editorial New, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 1.8rem;
    line-height: 41px;
    color: var(--primary-color-light);
    margin-block: 24px;
}

h2{
    font-family: PP Editorial New, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 1.6rem;
    line-height: 31px;
    color: var(--primary-color-light);
    margin: 24px 0px 0px 0px;
}

h3{
    font-family: PP Editorial New, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 1.25rem;
    color: var(--primary-color-light);
    margin: 15px 0px 12px 0px;
}

h4{
    font-family: Roboto Mono, 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 1rem;
    line-height: 20px;
    color: var(--secondary-color-light);
    margin-block: 16px;
}

h5{
    font-family: Roboto Mono, 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: .875rem;
    line-height: 20px;
    color: var(--primary-color-light);
}

p{
    font-family: Roboto Mono, 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: .8125rem;
    line-height: 20px;
    color: var(--primary-color-light);
    margin-top: 6px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 10px 0;
}

hr{
    border-top: 1px solid var(--stroke-color-light);
}

.space {
    margin-bottom: 24px;
}

a {
    color: var(--highlight-color-light);
    
}

.carda {
    color: var(--primary-color-light);
    text-decoration: none;
}

nav {
    padding: 0;
    margin: 0;
    margin-top: 80vh;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

nav ul li{
    font-family: PP Editorial New, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 2rem;
    padding: 12px;
    margin: 0px;
    display: block;
    border-bottom: 2px solid var(--stroke-color-light);
}

nav a, a.nav {
    color: var(--primary-color-light);
    text-decoration: none
}

.logo{
    width: 43px;
    height: 46px;
}

.project-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0 6px 0;
}

img.img {
    height: auto;
    width: 341px;
    border-radius: 7px 7px 0px 0px;
    display: flex;
    overflow: hidden;
}

.s-img {
    height: auto;
    width: 341px;
    border: 1px solid var(--stroke-color-light);
    border-radius: 8px;
    margin-block: 12px;
    display: flex;
    overflow: hidden;
}

.card {
    border: 1px solid var(--stroke-color-light);
    border-radius: 8px;
    width: 343.2px; 
    margin-bottom: 12px;
}

.container {
    color: var(--box-color-light);
    border-top: 1px solid var(--stroke-color-light);
    width: 341px;
    padding-left: 20px;
}

.card .container a {
    color: var(--primary-color-light);
    text-decoration: none;
}

.detail-paragraph {
    margin-block: 16px;
}

.poem {
    color: var(--box-color-light);
    border: 1px solid var(--stroke-color-light);
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 24px;
}

iframe {
    margin-bottom: 24px;
}

.about-section h3 {
    margin: 16px 0px 6px 0px;
}

.about-section p:last-child {
    margin-top: 0;
    margin-bottom: 32px;
}